@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-color: rgb(255, 0, 51);
  --bg-color: #0a0e14dc;
}

input {
  outline: none;
  cursor: pointer;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--bg-color);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.box {
  background-color: #fff;
  padding: 3rem;
  border-radius: .5rem;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.box h2 {
  font-size: 30px;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 20px;
  cursor: default;
}

div.box div.display {
  color: #fff;
  background: var(--bg-color);
  padding: 1rem;
  border: 1px solid var(--bg-color);
  height: 3rem;
  width: 390px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-break: break-all;
  border-radius: .5rem;
  margin-bottom: 16px;
}

div.box div.display h3 {
  width: 95%;
}

div.box div.display span {
  cursor: pointer;
}

div.box form.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  row-gap: 1rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.box form.form label {
  font-weight: 700;
  font-size: 19px;
  color: var(--main-color);
}

div.box form.form div.charAmount-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

div.box form.form input[type=number] {
  width: 2.5rem;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: .1rem;
  border-radius: 3px;
  cursor: text;
}

div.box form.form button {
  outline: none;
  border: 2px solid #fff;
  grid-column: span 2;
  background-color: var(--main-color);
  color: #fff;
  padding: .7rem 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 20px;
}

div.box form.form button:hover {
  opacity: .8;
}
/*# sourceMappingURL=style.css.map */