@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(255, 0, 51);
    --bg-color: #0a0e14dc;
}

input {
    outline: none;
    cursor: pointer;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: var(--bg-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.box {
    background-color: #fff;
    padding: 3rem;
    border-radius:  .5rem;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 30px;
        text-align: center;
        color: var(--main-color);
        margin-bottom: 20px;
        cursor: default
    }
    div.display {
        color: #fff;
        background: var(--bg-color);
        padding: 1rem;
        border: 1px solid var(--bg-color);
        height: 3rem;
        width: 390px;
        font-weight: 700;
        display: flex;
        justify-self: center;
        align-items: center;
        word-break: break-all;
        border-radius: .5rem;
        margin-bottom: 16px;
        h3 {
            width: 95%;
        }
        span {
            cursor: pointer;
        }
    }
    form.form {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 1rem;
        column-gap: 3rem;
        justify-content: center;
        align-items: center;
        label {
            font-weight: 700;
            font-size: 19px;
            color: var(--main-color);
        }
        div.charAmount-container {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        input[type=number] {
            width: 2.5rem;
            color: var(--main-color);
            border: 1px solid var(--main-color);
            padding: .1rem;
            border-radius: 3px;
            cursor: text;
        }
        button {
            outline: none;
            border: 2px solid #fff;
            grid-column: span 2;
            background-color: var(--main-color);
            color: #fff;
            padding: .7rem 1rem;
            font-weight: 700;
            cursor: pointer;
            border-radius: .5rem;
            font-size: 20px;
            &:hover {
                opacity: .8;
            }
        }
    }
}